#tasks {
    text-align: center;
    margin-top: 20px;
    overflow-y: scroll;
    height: 600px;    
}

.tasks-list {
    width: 650px;
    height: 700px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 48px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 10px 48px 6px rgba(0,0,0,0.23);
    box-shadow: 0px 10px 48px 6px rgba(0,0,0,0.23);
    background: white;
}

.tasks-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.tasks-list__header button {
    padding: 15px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: all .2s ease;
    background-color: #5b5b5b;
    color: white;
    font-size: .9rem;
}

.tasks-list__header button:hover {
    -webkit-box-shadow: 0px 4px 13px 3px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 4px 13px 3px rgba(0,0,0,0.24);
    box-shadow: 0px 2px 10px 3px rgba(0,0,0,0.24);
}
