/* Tasks in Task List */
#tasks {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
/* ============================================================ */

.tasks-list {
    width: 550px;
    height: 600px;
    -webkit-box-shadow: 0px 10px 48px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 10px 48px 6px rgba(0,0,0,0.23);
    box-shadow: 0px 10px 48px 6px rgba(0,0,0,0.23);
    background: white;
    border: 3px solid rgb(195, 195, 195);
    position: relative;
}

.tasks-list__footer {
    text-align: center;
    font-size: .5rem;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: #b7b7b7;
}


